<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
<div class="wrapper">
  <center> <a href="/index.html"><div class="site-title">   {{site.title}} </div></a></center>
</div>
<div class="wrapper site-description">
<br><center>  {{site.description}} </center>
</div>
<div class="wrapper">
  <div class="trigger site-navigation">
    <center>
    <a class="page-link" href="{{"/Science/" | prepend: site.baseurl }}"><i class="fas fa-atom"> </i> SCIENCE</a>
    <span class="exclamationMark">|</span>
    <a class="page-link" href="{{"/about/" | prepend: site.baseurl }}"><i class="fas fa-female"> </i> ABOUT</a>
    <span class="exclamationMark">|</span>
    <a class="page-link" href="{{"/cv/" | prepend: site.baseurl }}"><i class="fas fa-star"> </i> CV</a>
    </center>
    
  </div>
</div>
